.search-icon #path1958 {
  stroke-dasharray: 165 167;
  stroke-dashoffset: 166;
}
.start.search-icon #path1958 {
  animation: draw 666ms ease-in-out 0ms forwards;
}
.search-icon #path1958-9 {
  stroke-dasharray: 206 208;
  stroke-dashoffset: 207;
}
.start.search-icon #path1958-9 {
  animation: draw 666ms ease-in-out 111ms forwards;
}
.search-icon #path1958-5 {
  stroke-dasharray: 23 25;
  stroke-dashoffset: 24;
}
.start.search-icon #path1958-5 {
  animation: draw 666ms ease-in-out 222ms forwards;
}
.search-icon #path2041 {
  stroke-dasharray: 82 84;
  stroke-dashoffset: 83;
}
.start.search-icon #path2041 {
  animation: draw 666ms ease-in-out 333ms forwards;
}
@keyframes draw {
  100% {
    stroke-dashoffset:0;
  }
}
