body {
  margin: 0;
  padding: 0;
  background-color: #161616;
  color: #FFFFFF;
}

/*****************************************
          LOADING SCREEN
******************************************/

.loading {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 1000;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.loading .cover {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}
.loading .cover.up {
  height: 50vh;
  width: 100%;
  background-color: #000000;
}
.loading .cover.down {
  top: 50vh;
  height: 50vh;
  width: 100%;
  background-color: #000000;
}
.loading .logo {
  width: 50vw;
  position: relative;
  z-index: 5;
  max-width: 300px;
}
.loading .logo path {
  stroke-dasharray: 1600px;
  stroke-dashoffset: 1600px;
  animation: dash 1.5s ease-in infinite;
}
.loading .divider {
  position: absolute;
  display: none;
  z-index: 5;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  stroke-dasharray: 2000px;
  stroke-dashoffset: 2000px;
}

/*********************************************
          DRAWING ANIMATION
**********************************************/
@keyframes dash {
  80% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
}
@keyframes dash-2 {
  50% {
    stroke-dashoffset: 0;
    transform: translateX(0);
  }
  100% {
    stroke-dashoffset: 0;
    transform: translateX(100%);
  }
}

/*********************************************
          CONTAINER
**********************************************/
.container {

}
.container.index {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.container .section.search {
  width: 80%;
  max-width: 600px;
}
.search .label {
  padding: 0 0 30px 0;
  font-family: "Josefin Sans", sans-serif;
  color: #FFFFFF;
  font-size: 1.7em;
  text-align: center;
}

.search .search-box {
  display: flex;
  transform: scale(1.3);
  transition: transform 700ms ease-in;
}
.search .search-box .station-select {
  background-color: transparent;
  box-sizing: border-box;
  border: 2px solid #FFFFFF;
  border-right: none;
  border-radius: 20px 0 0 20px;
  font-family: "Montserrat", sans-serif;
  text-indent: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  height: 50px;
  flex: 1;
  font-size: 1.2em;
  outline: none;
  transition: border 300ms ease-in-out;
}
.search .search-box .station-select:focus, .search .search-box .station-select:hover{
  border: 2px solid #4104e8;
}
.search .search-box .search-button {
  background-color: transparent;
  outline: none;
  transition: background-color 1s linear;
  box-sizing: border-box;
  width: 15%;
  cursor: pointer;
  min-width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #FFFFFF;
  background-color: transparent;
  border-radius: 0 20px 20px 0;
  -webkit-tap-highlight-color: transparent;
}
.ripple-container {
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ripple {
  height: 0px;
  width: 0px;
  border-radius: 50%;
}

@keyframes ripple-grow {
  to {
    height: 100vw;
    width: 100vw;
    opacity: 0;
  }
}

.suggestions {
  color: #FFFFFF;
  width: calc(68% - 20px);
  max-width: 490px;
  position: absolute;
  margin-left: 20px;
  background-color: #222222;
  font-family: "Montserrat", sans-serif;
  border-radius: 0 0 20px 20px;
  max-height: 40vh;
  overflow: auto;
  transition: opacity 500ms linear;
}
.suggestions .stop-search-result {
  padding: 10px 10px;
  box-sizing: border-box;
  cursor: pointer;
  transition: color 500ms linear;
}
.suggestions .stop-search-result:hover {
  color: #aaaaaa;
}
